@import url('https://fonts.googleapis.com/css?family=Kumar+One|Roboto');

@font-face {
    font-family: digital;
    src: url(digital-7.regular.ttf);
}

html {
  height: 100%;
}

body {
  background-color: #1E1E20;
  font-family: digital;
  /*color: #1EFF20;*/
  color: #DC3522;
  min-height: 100%;
}

p#city{
  font-size: 100px;

}
.info {
  font-size: 40px;

}
#main {
  margin-top: 80px;
}

#time {
  font-size: 120px;
}

/*#temp {
  width: 114px;
}*/
.btn {
  display: none;
  background-color: #242426;
  border:0px solid transparent;

}
.btn:focus {
  outline:0;
}

/*focus {outline:0;}*/
